<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../public/assets/css/form.css">
</head>
<body>
    <header class="header">
        <img src="../../public/assets/img/logo-parkeaTec.svg" alt="logo" class="log">
        <nav class="nav">
            <a class="item-nav" href="#">Formulario</a>
            <a class="item-nav" href="#">Generar Reportes</a>
            <a class="item-nav" href="#">Parqueadero</a>
            <a class="item-nav" href="#">Ver perfil</a>
        </nav>
    </header>
    <main class="main">
        <section class="form">
            <div class="container">
                <!-- Estrcutura del formulario 1 -->
                <form action="" id="Form1">
                    <h3 class="title-form">Tus datos personales</h3>
                    <div class="content-form">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Nombres y apellidos</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Identificacion</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Numero</label>
                        </div>
                    </div>
                    <div class="content-form">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Funcionario</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Contratista</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Aprendiz</label>
                        </div>
                    </div>
                    <div class="content-form">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Centro de formacion</label>
                        </div>
                    </div>
                
                    <div class="content-btn">
                        <button type="button" class="btn-form" id="Next1">Siguiente</button>
                    </div>
                </form>

                <!-- Estrcutura del formulario 2 -->
                <form action="" id="Form2">
                    <h3>Tus datos personales</h3>
                    <div class="content-form">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Fecha inicio vinculacion</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Fecha Terminacion</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Telefono</label>
                        </div>
                    </div>
                    <div class="content-form">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Direccion</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Celular</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Correo Electronico</label>
                        </div>
                    </div>
                    
                    <div class="content-btn">
                        <button type="button" class="btn-form" id="Back1">Atras</button>
                        <button type="button" class="btn-form" id="Next2">Siguiente</button>
                    </div>
                </form>

                 <!-- Estrcutura del formulario 3 -->
                 <form action="" id="Form3">
                    <h3>Fotos</h3>
                    <div class="content-form">
                        <div class="content-main-img">
                            <div class="content-img">
                                <input type="file">
                                <p class="content-img-text">Cargar foto usuario</p>
                            </div>
                        </div>
                        <div class="content-main-img">
                            <div class="content-img">
                                <input type="file">
                                <p class="content-img-text">Cargar placa vehiculo</p>
                            </div>
                        </div>
                        <div class="content-main-img">
                            <div class="content-img">
                                <input type="file">
                                <p class="content-img-text">Cargar foto vehiculo</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="content-btn">
                        <button type="button" class="btn-form" id="Back2">Atras</button>
                        <button type="button" class="btn-form" id="Next3">Siguiente</button>
                    </div>
                </form>

                 <!-- Estrcutura del formulario 4 -->
                 <form action="" id="Form4">
                    <h3>Tu vehiculo</h3>
                    <h3>Motocicleta</h3>
                    <div class="content-form">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Marca</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Cilindraje</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Color</label>
                        </div>
                    </div>
                    <div class="content-form">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Placa</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Modelo</label>
                        </div>
                        <div class="form-column">
                            <textarea name="" id="" class="input"></textarea>
                            <label class="label">observaciones</label>
                        </div>
                    </div>
                    
                    <div class="content-btn">
                        <button type="button" class="btn-form" id="Back3">Atras</button>
                        <button type="button" class="btn-form" id="Next4">Siguiente</button>
                    </div>
                </form>

                <!-- Estrcutura del formulario 5 -->
                <form action="" id="Form5">
                    <h3>Tu vehiculo</h3>
                    <h3>Bicicleta</h3>
                    <div class="content-form">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Marca</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Clase</label>
                        </div>
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">Color</label>
                        </div>
                    </div>
                    <div class="content-form-modific">
                        <div class="form-column">
                            <input class="input" type="text">
                            <label class="label">No. Marco</label>
                        </div>
                        <div class="form-column">
                            <textarea name="" id="" class="input"></textarea>
                            <label class="label">observaciones</label>
                        </div>
                    </div>
                    
                    <div class="content-btn">
                        <button type="button" class="btn-form" id="Back4">Atras</button>
                        <button type="button" class="btn-form" id="Next5">Siguiente</button>
                    </div>
                </form>

                <!-- Estrcutura del formulario 6 -->
                <form action="" id="Form6">
                    <h3>Tus datos personales</h3>
                    <div class="form-column">
                        <input class="input" type="text">
                        <label class="label">datos</label>
                    </div>
                    <div class="content-main-img">
                        <div class="content-img">
                            <input type="file">
                            <p class="content-img-text">Cargar firma usuario</p>
                        </div>
                    </div>
                    <div class="content-main-img">
                        <div class="content-img">
                            <input type="file">
                            <p class="content-img-text">Cargar firma administrador</p>
                        </div>
                    </div>
                    <div class="content-main-img">
                        <div class="content-img">
                            <input type="file">
                            <p class="content-img-text">Cargar firma vigilante</p>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="button" id="Back5">Atras</button>
                        <button type="button" id="Next6">Siguiente</button>
                    </div>
                </form>

                <!-- Estrcutura del formulario 7 -->
                <form action="" id="Form7">
                    <h3>Tus documentos de vehiculo</h3>
                    <div class="content-form-select">
                        <div class="form-column">
                            <select name="" id="">
                                <option value="">Motocicleta</option>
                                <option value="">Bicicleta</option>
                                <option value="">Carro</option>
                                <option value="">Monopatin</option>
                            </select>
                            <label class="label">tipo de vehiculo</label>
                        </div>
                        <div class="content-form-document">
                            <div class="form-column-document">
                                <input class="input-document" type="file">
                                <label class="label-document">Foto del vehiculo</label>
                            </div>
                            <div class="form-column-document">
                                <input class="input-document" type="file">
                                <label class="label-document">Tarjeta de propiedad</label>
                            </div>
                            <div class="form-column-document">
                                <input class="input-document" type="file">
                                <label class="label-document">Tarjeta de soat</label>
                            </div>
                            <div class="form-column-document">
                                <input class="input-document" type="file">
                                <label class="label-document">Licencia de conducir</label>
                            </div>
                            <div class="form-column-document">
                                <input class="input-document" type="file">
                                <label class="label-document">Certificado Tecno-mecanico</label>
                            </div>
                            <div class="form-column-document">
                                <input class="input-document" type="file">
                                <label class="label-document">Foto placa</label>
                            </div>
                            <div class="form-column-document">
                                <input class="input-document" type="file">
                                <label class="label-document">Foto serial</label>
                            </div>
                        </div>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn-form" id="Back6">Atras</button>
                        <button type="submit" class="btn-form" >Enviar</button>
                    </div>
                    
                </form>
                <div class="step-row">
                    <div id="progress"></div>
                    <div class="step-col">Paso 1</div>
                    <div class="step-col">Paso 2</div>
                    <div class="step-col">Paso 3</div>
                    <div class="step-col">Paso 4</div>
                    <div class="step-col">Paso 5</div>
                    <div class="step-col">Paso 6</div>
                    <div class="step-col">Paso 7</div>
                    
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <img src="../../public/assets/img/logo-parkeaTec.svg" alt="logo ">
    </footer>
    <script src="../../public/assets/js/form.js"></script>
</body>
</html>