<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../public/assets/css/reporte-ocupacion.css">
</head>
<body>
    <header class="header">
        <img src="../../public/assets/img/logo-parkeaTec.svg" alt="logo" class="log">
        <nav class="nav">
            <a class="item-nav" href="#">Formulario</a>
            <a class="item-nav" href="#">Generar Reportes</a>
            <a class="item-nav" href="#">Parqueadero</a>
            <a class="item-nav" href="#">Ver perfil</a>
        </nav>
    </header>
    <main class="main">
        <section class="occupation">
            <h1 class="title-main-occupation">Reporte Ocupacion</h1>
            <div class="content-occupation">
                <div class="content-info-occupation">
                    <p class="text-occupation text-summary">Resumen del dia:</p>
                    <div class="content-text-occupation">
                        <p class="text-occupation">Vehiculos ingresados:</p>
                        <p class="text-info">100</p>
                    </div>
                    <div class="content-text-occupation">
                        <p class="text-occupation">Vehiculos retirados:</p>
                        <p class="text-info">75</p>
                    </div>
                    <div class="content-text-occupation">
                        <p class="text-occupation">Ocupacion total del parqueadero:</p>
                        <p class="text-info">100/300</p>
                    </div>
                </div>
                <div class="content-reporting-period">
                    <select name="" id="" class="select-period">
                        <option value="" class="item-option">Seleccionar</option>
                        <option value="" class="item-option">Diario</option>
                        <option value="" class="item-option">Semanal</option>
                        <option value="" class="item-option">Quincenal</option>
                        <option value="" class="item-option">Mensual</option>
                        <option value="" class="item-option">Bimestral</option>
                        <option value="" class="item-option">Trimestral</option>
                        <option value="" class="item-option">Semestral</option>
                        <option value="" class="item-option">Anual</option>
                    </select>
                </div>
            </div>
            <div class="content-btn-reporting">
                <button class="btn-reporting">Generar reporte</button>
            </div>            
        </section>
    </main>
    


    <footer class="footer">
        <img src="../../public/assets/img/logo-parkeaTec.svg" alt="logo ">
    </footer>
</body>
</html>