<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5808d06a88.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../public/assets/css/verEspaciosParqueadero.css">
    <title>Ver espacios</title>
</head>
<body>
    <header class="header">
        <img src="../../public/assets/img/logo-parkeaTec.svg" alt="logo" class="log">
        <nav class="nav">
            <a class="item-nav" href="#">Formulario</a>
            <a class="item-nav" href="#">Generar Reportes</a>
            <a class="item-nav" href="#">Parqueadero</a>
            <a class="item-nav" href="#">Ver perfil</a>
        </nav>
    </header>
    <main class="main">
        <section class="info-see-space">
            <h1>Ver espacios</h1>
            <div class="content-btn-parking">
                <button class="btn-parking">Añadir parqueadero</button>
                <button class="btn-parking">Definir parqueadero</button>
            </div>
        </section>
        <section class="parking-container" id="parking-container">
            <!-- <div class="items-see-space">

            </div> -->
        </section>
    </main>



    <footer class="footer">
        <img src="../../public/assets/img/logo-parkeaTec.svg" alt="logo ">
    </footer>
    <script src="../../public/assets/js/verEspaciosParqueadero.js"></script>
</body>
</html>